---
title:     Emerce
bodyclass: home
---

.l-container

.wrapper
	%h1.wrapper__title FAQ
	%ul.faqlist
		%li.faqlist__item
			%a.faqlist__itemheader{:href => '#faqlist__itemcontent-1'}
				%span.faqlist__button
					%span.faqlist__plus +
					%span.faqlist__min -
				%h2.faqlist__itemtitle Ik ben abonnee en wil mijn abbonneenummer opvragen.
			#faqlist__itemcontent-1.faqlist__itemcontent
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum volutpat ultrices. Nulla sit amet urna consectetur, convallis sem eget, pharetra magna. Nullam a hendrerit lacus, sit amet eleifend elit. Ut pharetra, eros sit amet semper cursus, metus lorem condimentum lorem, sit amet accumsan ex mi eget neque. Integer lacinia, nunc et accumsan mollis, felis ipsum dapibus urna, et rhoncus leo elit sit amet orci. Sed ut ex neque. Vivamus venenatis nulla sed scelerisque ultrices.

		%li.faqlist__item
			%a.faqlist__itemheader{:href => '#faqlist__itemcontent-2'}
				%span.faqlist__button
					%span.faqlist__plus +
					%span.faqlist__min -
				%h2.faqlist__itemtitle Worden mijn persoonlijke gegevens als abonnee vertrouwelijk behandeld?
			#faqlist__itemcontent-2.faqlist__itemcontent
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum volutpat ultrices. Nulla sit amet urna consectetur, convallis sem eget, pharetra magna. Nullam a hendrerit lacus, sit amet eleifend elit. Ut pharetra, eros sit amet semper cursus, metus lorem condimentum lorem, sit amet accumsan ex mi eget neque. Integer lacinia, nunc et accumsan mollis, felis ipsum dapibus urna, et rhoncus leo elit sit amet orci. Sed ut ex neque. Vivamus venenatis nulla sed scelerisque ultrices.

		%li.faqlist__item
			%a.faqlist__itemheader{:href => '#faqlist__itemcontent-3'}
				%span.faqlist__button
					%span.faqlist__plus +
					%span.faqlist__min -
				%h2.faqlist__itemtitle Worden mijn persoonlijke gegevens als abonnee vertrouwelijk behandeld?
			#faqlist__itemcontent-3.faqlist__itemcontent
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum volutpat ultrices. Nulla sit amet urna consectetur, convallis sem eget, pharetra magna. Nullam a hendrerit lacus, sit amet eleifend elit. Ut pharetra, eros sit amet semper cursus, metus lorem condimentum lorem, sit amet accumsan ex mi eget neque. Integer lacinia, nunc et accumsan mollis, felis ipsum dapibus urna, et rhoncus leo elit sit amet orci. Sed ut ex neque. Vivamus venenatis nulla sed scelerisque ultrices.

